* {
  box-sizing: border-box;
}

@font-face {
  font-family: montserratAlt;
  font-weight: 600;
  src: url("fonts/ofont.ru_Montserrat Alternates.ttf");
}

@font-face {
  font-family: montserrat;
  font-weight: 600;
  src: url("fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: montserrat;
  font-weight: 500;
  src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: montserrat;
  font-weight: normal;
  src: url("fonts/Montserrat-Regular.ttf");
}

button {
  font-family: inherit;
}

h2 {
  font-family: "montserrat";
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 600;
}

b {
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 600;
}

body {
  margin: 0;
  font-family: "montserrat", Inter, Arial, sans-serif;
  background: white;
}

/* ===== HEADER ===== */
.header {
  background: #70232F;
  padding-left: 32px;
  padding-right: 16px;
  padding-top: 5px;
  color: white;
  border-radius: 15px;
  height: 100px;
  font-family: "montserratAlt";               
  font-weight: 600;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 32px;
  font-weight: 600;
  margin-left: 16px;
}

/* ===== MAIN ===== */
.main {
  padding: 24px;
  position: relative;
  top: 15px;
  border-radius: 15px;
  background-color: #EFEFEF;
  }
  

.container {
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

/* ===== CONTENT ===== */
.content {
  flex: 1;
  background: #EFEFEF;
  border-radius: 12px;
}

/* ===== SEARCH ===== */
.search-bar {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  color: #D86B79;
}

.search-bar input {
  flex: 1;
  padding: 10px 12px;
  width: 241px;
  height: 40px;
  border: none;
  outline: none;
  color: #D86B79;
  padding-left: 40px;
  background-image: url("images/Лупа.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 12px center;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
}

.search-bar input::placeholder {
  color: #D86B79;
}

.tabs {
  font-weight: normal;
  font-size: 16px;
}

.tabs button {
  padding: 10px 14px;
  border: 1px solid #EFEFEF;
  cursor: pointer;
}

.tabs .active {
  background: white;
  border-radius: 5px;
}

.tabs .active1 {
  background: white;
  width: 141px;
  height: 40px;
  border-radius: 5px;
  padding-right: 40px;
  background-image: url("images/Map.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 18px center;
  margin-left: 1200px;
}

/* ===== CATEGORY ===== */
.category {
  margin-bottom: 32px;
}

.category h2 {
  margin-bottom: 16px;
}

/* ===== CARD ===== */
.card {
  display: flex;
  gap: 10px;
  padding: 20px;
  border-top: 2px solid #7a1f2b;
  border-radius: 5px;
  margin-bottom: 16px;
  background-color: white;
  width: 1030px;
  height: 240px;
}

.card-img {
  width: 200px;
  height: 200px;
  /*
  background: #d0d0d0;
  */  
  border-radius: 8px;
  gap: 10px;
/*
  background-image: url("images/picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  */
}

.card-info {
  flex: 1;
  margin-left: 10px;
  width: 645px;
  height: 195px;

  display: flex;
  flex-direction: column;
}

.card-info h3 {
  margin: 0 0 6px;
}

.xshteg {
  color: #D86B79;
  font-weight: normal;
  font-size: 14px;
}

.dataout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 645px;
  height: 145px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px;
  font-size: 14px;
  color: #333333;
}

.years {
  background-image: url("images/men.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 30px;
}

.city {
  background-image: url("images/city.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 30px;
}

.house {
  background-image: url("images/Map.svg");
  background-repeat: no-repeat;
  background-size: 13px;
  padding-left: 30px;
}

.days {
  display: flex;
  color: #333333;
  align-items: center;
  justify-content: left;
}

.days-text {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  margin-right: 10px;

  background-image: url("images/clock.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 30px;  
}

/* ===== SCHEDULE ===== */
.schedule{
  display: flex;
  gap: 6px;
}
.schedule span {
  display: block;
  width: 137px;
  height: 28px;
  background: #F7DAAB;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 12px;

  line-height: 28px;
  text-align: justify;
  text-align-last: justify;

  padding: 0 20px;
}

/* ===== BUTTON ===== */
.details {
  align-self: self-end;
  background: #70232F;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 500;
  font-size: 14px;
}

/* ===== FILTERS ===== */

.nameFilters {
  display: inline-block;
}

.filters {
  width: 330px;
  height: 1105px;
  background: white;
  padding: 16px;
  border-radius: 12px;
  border-top: 2px solid #7a1f2b;
}

.filters h3 {
  margin-top: 0;
}

.filters label {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
}

input[type="checkbox"] {
  accent-color: #70232F;
}

.filters select {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  border-bottom: 1px solid #70232F;
}

.category {
  margin-bottom: 24px;
}
 
.category-title {
  cursor: pointer;
  list-style: none; /* убираем стандартный маркер */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
/* убираем стандартную стрелку */
.category-title::-webkit-details-marker {
  display: none;
}
 
/* своя стрелка */
.arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(45deg);
  transition: transform 0.2s;
}
 
/* поворот стрелки при открытии */
details[open] .arrow {
  transform: rotate(-135deg);
}
 
/* контент */
.category-content {
  margin-top: 16px;
}

.category-content ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}

.category2 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.count {
  color: #70232F;
  font-size: 14px;
  margin-left: 10px;
}